# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
dist-electron

# Electron compiled files
electron/*.js
electron/*.js.map
electron/*.d.ts
apps/pc/*.js
apps/pc/*.js.map
apps/pc/*.d.ts

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
debug
design
docs
samples/**/output

# Local env files
.env
.env.*
!.env.example

# wrangler
.wrangler
